/.vscode/sftp.json
/node_modules
/public/css
/public/fonts
/public/js
/public/storage
/public/hot
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.*
daily-backup.sh
