//*** ボタン ***//
//* 有効時 *//
.btn-cloto-primary {
  font-weight: bold;
  background-color: $primary;
  color: $black;
}

.btn-cloto-primary:hover {
  background-color: rgb(255, 201, 20);
}

.btn-cloto-primary:focus,
.btn-cloto-primary.focus,
.btn-cloto-primary:not(:disabled):not(.disabled):active:focus,
.btn-cloto-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-cloto-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(66, 61, 44, 0.5);
}

.btn-cloto-primary:not(:disabled):not(.disabled):active,
.btn-cloto-primary:not(:disabled):not(.disabled).active,
.show > .btn-cloto-primary.dropdown-toggle {
  background-color: rgb(246, 191, 0);
}

//* 無効時 *//
.btn-cloto-primary.disabled,
.btn-cloto-primary:disabled,
.btn-cloto-primary:disabled.disabled:focus,
.btn-cloto-primary:disabled.disabled:focus {
  background-color: rgb(236, 172, 10);
}
