// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #000000;
$white: #ffffff;
$gray: #dbdbdb;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Themes
$main-color: #f6bf00;
// rgb(246, 191, 0)
$bg-color: #f4f4f4;
$top-bg-color: #fffbeb;
$index-bg-color: #fffff5;
$area-color: #ffffff;
$font-color: #000000;
$btn-submit-color: #0037f6;
$btn-cancel-color: #e3342f;
$btn-cancel_hover-color: #ff4500;

// icons
$twitter-color: #00acee;
$github-color: #000000;
$qiita-color: #4cb10d;