/**
 * Import
 */
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Parts
@import "parts";
//*** END Import ***//


/**
 * Page
 */
html {
    word-break: break-all;
}

body {
    font-size: 12px;
    background-color: $bg-color;
}
//*** END Page ***//


/**
 * Header
 */
.nav {
    background-color: $main-color;
    height: 50px;
    padding: 0 15px;
    font-weight: bold;

    &__logo {
        img {
            height: 40px;
            padding: 5px 0;
        }
    }

    &__item {
        margin: 0 15px;
        border: 0.5px solid $black;
        border-radius: 5px;
    }

    &__link {
        &--usericon {
            padding: 5px 0 5px 20px;
        }

        &--username {
            padding: 5px 20px 5px 0;
            color: $black;

            &:hover {
                color: $black;
                text-decoration: none;
            }
        }
    }

    &__notification-btn {
        line-height: 40px;
        color: $white;

        &--active {
            color: $red;

            animation: jump 0.3s ease infinite alternate;
            @keyframes jump {
                0% {
                    transform: translateY(0px);
                }
                100% {
                    transform: translateY(-10px);
                }
            }
        }
    }

    &__dropdown-menu {
        top: 100%;
        z-index: 1000;
        min-width: 5rem;
        padding: 5px;
        font-size: 0.9rem;
        color: $black;
        text-align: left;
        list-style: none;
        background-clip: padding-box;
        border-radius: 5px;

        &--notification {
            left: auto;
            right: 10px;
        }
    }

    &__read-btn {
        text-align: center;
        margin-bottom: 0.5em;
    }
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 5px 20px;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: $black;
}
//*** END Header ***//


/**
 * Footer
 */
.footer {
    width: 100%;
    padding: 20px;
    background-color: $main-color;
    color: $white;

    &__logo {
        margin: 0;

        img {
            max-width: 200px;
            height: auto;
        }
    }

    &__site-map {
        margin: 0;
        padding: 40px 0;
    }

    &__link {
        margin: 0 10px;

        a {
            color: $white;

            &:hover {
                color: $gray;
            }
        }
    }

    &__copyright {
        text-align: center;
    }
}
//*** END Footer ***//