/**
 * Import
 */
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Parts
@import 'parts';
//*** END Import ***//

/**
 * Page
 */
html {
  font-family: $font-family;
  word-break: break-all;
}

body {
  font-size: 12px;
  background-color: $light-gray;
}
