{
    "name": "hoge",
    "host": "hoge.jp",
    "protocol": "sftp",
    "port": 22,
    "username": "hoge",
    "privateKeyPath": "/Users/hoge/.ssh/id_hoge_rsa",
    "remotePath": "/",
    "sshConfigPath": "/Users/hoge/.ssh/config",
    "uploadOnSave": false
}
